 .pagination {
     margin-top: 20px
 }

 .pagination__item {
    display: inline-block;
    padding: 10px 15px;
     font-weight: 700;
     color: #000;
     background: #c6c6c7
 }

 .pagination__item:hover, .pagination__item--current {
    color: #fff;
    background: #535e75
 }  